body{
    background-color: #ecf0f1;
    margin:0;
    font-family: 'Roboto', sans-serif;
}
header{
    background-color: aliceblue;
    padding:0;
    display:flex;
}
ul{
    display: flex;
    align-items: center;
    justify-content:space-around;
    width:13%;
    font-size: 20px;
    list-style: none;
    margin-left: 62%;
    color:grey;
}
.head-img{
    height:120px;
    width:400px;
}
form{
    background: linear-gradient(to bottom, #0033cc 0%, #99ccff 100%);
    height:320px;
    margin:0 auto;
}
input{
    padding:7px;
    background-color: rgb(241, 238, 234);
    width:500px;
    padding:10px;
    margin:0% 0.2% 0.4% 24.5%;
}
h3{
    color:white;
    font-size: 3rem;
    padding:4.5% 0.2% 0% 24.5%;
}
.submit-button{
    padding:10px;
    width:120px;
    color:white;
    background: none;
    border: 1px solid white;
}
.definition{
   margin: 1% 0.66%;
   width:32%;
   height:300px;
   text-align: center;
   float:left;
}
.displayHead{
   background-color: gainsboro;
   height:50px;
   width:100%;
   padding:20px 0px;
}
.App{
    width:80%;
    margin:0 auto;
}
.pronounce{
   padding:6% 0% 3% 0%;
   height:200px;
   width:100%;
   background-color: white;
}
.imagedisplay{
   padding:1% 0% 3% 0%;
   height:240px;
   width:100%;
}
.define{
   padding:6% 0% 1% 0%;
   background-color: white;
   height:210px;
   width:100%;
}
.p-define{
    padding:5px;
    font-size: 1.2rem;
}
.playbutton{
  margin-top:10%;
}